.home {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("https://images.unsplash.com/photo-1528698827591-e19ccd7bc23d");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  max-width: 500px;  
  text-align: center;
  color: rgb(255, 255, 255);  
}

.title {
  font-size: 52px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 20px;
  margin-bottom: 25px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons button {
  width: 100%;  
  padding: 20px;
  font-size:30px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.buttons button:hover {
  background: #164ba6;
}

.primary {
  background: #ff9800;
}

.primary:hover {
  background: #e68900;
}